PORT=3001

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWTSECRET=

INTEGRATION_BASE_URL=

OBJECT_STORAGE_ACCESS_KEY_ID=
OBJECT_STORAGE_ACCESS_KEY_SECRET=
OBJECT_STORAGE_END_POINT=
OBJECT_STORAGE_PUBLIC_END_POINT=
OBJECT_STORAGE_BUCKET=

COMPANY_ID=

LOG_LEVEL=info
DEV_SECRET=
CORS_ALLOWED_ORIGINS=
API_KEY=
