/node_modules
/dist
/uploads
/temp
.env
.htaccess

# NPM and build configs (containing secrets)
.npmrc.build

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?